{% extends "auctions/layout.html" %}
{% block title %}
    Auctions
{% endblock %}
{% block body %}
    <h2 class="text-center text-success"> Active Listings</h2>
 {% if listings %}
 <div class="row container">
    {% for listing in listings%}
      <div class="card col-5 m-2" style="width: 28rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> {{ listing.title }} </h5>
          <p class="card-text"> Description: {{ listing.description }}</p>
          <p class="card-text"> Biding date: {{ listing.date_created }}</p>
          <p class="card-text"> Starting Bid: {{ listing.starting_bid }}</p>
          <p class="card-text"> Category: {{ listing.category }}</p>
          <p class="card-text"> User: {{ listing.user }}</p>
          <a href="{% url 'listing' listing.lid %}" class="btn btn-success">See details</a>
        </div>
      </div>
      <br>
    {% endfor %}
  </div>
{% endif %}
{% endblock %}